numpy==1.13.3 
scipy==1.0.0 
imutils
cmake
dlib
argparse
bcolz
boto3
pandas
pillow
rasterio
tensorboardX==1.1
tensorflow
tqdm
seaborn
graphviz
sklearn_pandas
isoweek
pandas_summary
minio
natsort
docopt
unidecode==1.0.22
matplotlib==2.1.0
hyperopt